<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet" />
  <title>Techno</title>
</head>

<body>
  <div id="app">

    <header class="header">
      <img src="./assets//techno.svg" alt="Logo Techno" class="logo">
      <div class="cart_menu" @click="activeCart = true">
        {{fullCart | numberPrice}} | {{cart.length}}
      </div>
    </header>

    <section class="products">
      <div class="product" v-for="product in products" @click="openModal(product.id)" :key="product.id">
        <img :src="product.img" alt="product.name" class="product_img" />
        <div class="product_info">
          <span class="product_price">{{product.price | numberPrice}}</span>
          <h2 class="product_title">{{product.name}}</h2>
        </div>
      </div>
    </section>

    <section class="modal" v-if="product" @click="closeModal">
      <div class="modal_container">
        <div class="modal_img">
          <img :src="product.img" :alt="product.name">
        </div>
        <div class="modal_data">
          <button @click="product = false" class="modal_close">X</button>
          <span class="modal_price">{{product.price | numberPrice}}</span>
          <h2 class="modal_title">{{product.name}}</h2>
          <p>{{product.description}}</p>
          <p>{{product.stock}}</p>
          <button class="modal_btn" v-if="product.stock > 0" @click="addItem">Adicionar Item</button>
          <button class="modal_btn sold_out" v-else disabled>Produto esgotado</button>

        </div>
        <div class="ratings">
          <h2 class="subtitle_rating">Avaliações</h2>
          <ul>
            <li v-for="rating in product.rating" class="rating">
              <p class="rating_description">{{rating.description}}</p>
              <p class="rating_user">{{rating.name}} | {{rating.stars}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <section class="cart_modal" :class="{active: activeCart}" @click="clickOutCart">
      <div class="cart_container">
        <button class="closeCart" @click="activeCart = false">X</button>
        <h2 class="cart_title">Carrinho</h2>
        <div v-if="cart.length > 0">
          <ul class="cart_list">
            <li v-for="(item, index) in cart" class="cart_item">
              <p> {{item.name}}</p>
              <p class="price_cart"> {{item.price | numberPrice}}</p>
              <button class="remove_cart" @click="removeItem(index)">X</button>
            </li>
          </ul>
          <p class="cart_total">{{fullCart | numberPrice}}</p>
          <button class="finish_cart">Finalizar compra</button>
        </div>
        <p v-else>O carrinho está vazio</p>
      </div>
    </section>

    <div class="alert" :class="{active: activeAlert}">
      <p class="alert_message">{{alertMessage}}</p>
    </div>
  </div>

  <script src="app.js"></script>
</body>

</html>